@import "tailwindcss";

@theme {
  --color-glass-tint: oklch(1 0 0 / 0.08);
  --color-glass-border: oklch(1 0 0 / 0.25);
}

/* .glass-liquid {
  isolation: isolate;
  background: var(--glass-bg, rgba(255, 255, 255, 0.12));
  backdrop-filter: url(#lg-filter)
    blur(4px)
    saturate(1.5)
    brightness(1.1);
  -webkit-backdrop-filter:
    blur(8px)
    saturate(1.8)
    brightness(1.15)
    contrast(1.05);
  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.15),
    inset 1.5px 1.5px 0 rgba(255, 255, 255, 0.5),
    inset 0 0 12px rgba(255, 255, 255, 0.2),
    0 8px 32px rgba(0, 0, 0, 0.2);
}*/

.glass-liquid {
  isolation: isolate;

  background: rgba(255,255,255,0.12);

  backdrop-filter:
    url("#lg-filter")
    blur(4px)
    saturate(1.5)
    brightness(1.1);

  -webkit-backdrop-filter:
    blur(8px)
    saturate(1.8)
    brightness(1.15)
    contrast(1.05);

  box-shadow:
    inset 0 0 0 1px rgba(255,255,255,0.15),
    inset 1.5px 1.5px 0 rgba(255,255,255,0.5),
    inset 0 0 12px rgba(255,255,255,0.2),
    0 8px 32px rgba(0,0,0,0.2);
}

body {
  min-height: 100vh;
  background: linear-gradient(-45deg, #000000, #363636, #686969, #ffffff);
  background-size: 400% 400%;
  animation: gradient-shift 15s ease infinite;
}

@keyframes gradient-shift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}